<!DOCTYPE html>
<html>
<head>
  <title>Search Results</title>
</head>
<body>
  <h1>Search Results</h1>
  

  <% if @events.any? %>
    <ul>
      <% @events.each do |event| %>
        <li>
          <strong>Event Name:</strong> <%= event.name %><br>
          <strong>Event User:</strong> <%= event.user.name %><br>
          <strong>User Email:</strong> <%= event.user.email %><br>
          <strong>User City:</strong> <%= event.user.city %><br>
        </li>
      <% end %>
    </ul>
  <% else %>
    <p>No results found.</p>
  <% end %>

</body>
</html>
